
:root{
    --font-family:'Work Sans', sans-serif;
    --dark:#424242;
    --black: #000000;
    --gray:#727272;
    --white:#FFFFFF;
    --jackfruit:#FF900E;
    --half-girlfriend: #ff8f0e2c;  

}
/*-------------------------
Main body section styles 
-------------------------*/


/* common styles */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-family);
}

a{
    color: var(--white);
    text-decoration: none;
    list-style: none;
}
header{
    background-color: var(--half-girlfriend);
}
/* navigation bar style */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    height: 100px;
    width: 100%;
}

.logo{
    color: var(--jackfruit);
    font-size: 40px;
}

.logo-mid-color{
    color: var(--dark);
}

nav ul {
    display: flex;
    align-items: center;
    color: var(--dark)
}

nav ul li {
    display: flex;
    margin-right: 100px;
}

nav ul li a{
    color: var(--dark);
    font-weight: bold;
}

.options a:hover {
    color: var(--jackfruit);
}

.fa-regular{
    font-size: 30px;
    cursor: pointer;
}


/* banner section styles */
.banner{
    text-align: center;
    padding: 100px 500px;
}

.banner-title{
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 20px;
}

.banner-description{
    color: var(--gray);
    font-size: 16px;
    margin-bottom: 30px;
}

.banner-img {
    text-align: center; 
    padding-bottom: 50px;
}


/* primary button  */

.btn-primary{
    background-color: var(--jackfruit);
    font-size: 18px;
    color: var(--white);
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    cursor: pointer;
    transition: 1s;
}

.btn-primary:hover{
    background-color: var(--gray);
    box-shadow: 0 0 10px 0 var(--dark);
}

/* ---------------------
  main section styles 
 ---------------------*/

 .features{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin-top: 100px;
    padding: 20px 290px;
 }

 .features-gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
 }

 /* features title colors */

 #ft-color-1 {
   color: #727272 ;
 }
 #ft-color-2 {
   color: #000000 ;
 }
 #ft-color-3 {
   color: #FF900E;
 }

 .features-title{
    font-size: 45px;
    margin-bottom: 20px;
 }
 .features-description{
    font-size: 20px;
    color: var(--gray);
    margin-bottom: 30px;
 }

  /* -----------------------------
  My Experiences Section Styles
  ------------------------------ */

  .experiences{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 150px 200px;
  }
.experience-title-box{
    border-left: 5px solid var(--jackfruit);
}
.experience-title{
    font-size: 50px;
    margin: 0 280px 20px 10px;
}
.experience-bio{
    font-size: 16px;
    margin-bottom: 40px;
    color: var(--dark);
}
/* My Experiences styles */

.my-experiences-box{
    box-shadow: 0px 5px 30px #0000000e;
    border-radius: 10px;
    margin: 10px 20px;
}
.my-experiences{
    margin-bottom: 20px;
    padding: 20px 30px;
    
}
.my-experiences-title{
    font-size: 20px;
    margin-bottom: 10px;
}
.my-experiences-bio{
    color: var(--gray);
    font-size: 12px;
    margin-bottom: 10px;
    padding-right: 30px;
}

.year{ 
    background-color: var(--jackfruit);
    color: var(--white);
    position: relative;
    top: 897px;
    right: 20px;
    width: 200px;
    padding: 40px 10px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: 1s;
}
.year:hover{
    background-color: var(--gray);
    transform: translateY(-25px);
    box-shadow: 0 3px 20px 0 #00000075;
}
.my-img{
    position: relative;
    background-repeat: no-repeat;
    background-image: url('../images/architect.png');
    height: 982px;
}

  /*-------------------------------
    Our achievement section styles 
 --------------------------------*/
 .some-facts{
    margin: 10px 200px;
 }
 .some-facts-title{
    font-size: 30px;
    margin-bottom:20px;
 }
 .some-facts-bio{
    font-size: 12px;
    margin-right: 800px;
    color: var(--gray);
 }

.achievement{
    margin: 100px 200px;
}
.achievement-header{
    margin-bottom: 100px;
}
.achievement-container{
    padding: 100px 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.our-achievement{
    border: 2px solid var(--jackfruit);
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    padding: 50px;
    transition: 1s;

}
    .our-achievement:hover{
    box-shadow: 0px 8px 30px 0 #00000046;
    background-color: var(--jackfruit);
    transform: translateY(-25px);
} 

.achievement-number{
    font-size: 40px;
}
.achievement-info{
    color: var(--gray);
}

/* our-sponsors section */
.sponsor-container{
    margin: 30px 200px;
}
.sponsor-head{
    text-align: center;
}
.sponsor-container-title{
    font-size: 35px;
    margin-bottom: 8px;
}
.sponsor-container-bio{
    font-size: 14px;
    padding: 0 500px;
    color: var(--gray);
}
.our-sponsors{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;  
}
.sponsors-img{
    filter: grayscale(1);
}

/*------------------------
 footer section styles 
 ----------------------*/
 .footer{
    text-align: center;
    margin: 60px 200px;
    background-color: var(--half-girlfriend);
    padding: 20px 30px;
    border-radius: 5px;
 }
 .footer-info{
    font-size: 16px;
    color: var(--gray);
    margin-top: 10px;
 }
 .social-media {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    cursor: pointer;
    gap: 20px;
 }

/* ------------------
  For mobile devices 
------------------- */


@media only screen and (max-width: 576px) {
    
    /* navigation bar  */
    nav{
        padding: 0 30px;
        height: 50px;
    }
    .logo{
        font-size: 15px;
    }
    nav ul li{
        font-size: 12px;
        margin-right: 10px;
    }
    .fa-regular {
        font-size: 21px;
    }
        
        /* banner  */

        .banner{
            padding: 10px;
            padding: 0 50px;
        }
        .banner-title{
            font-size: 30px;
            margin-bottom: 10px;
        }
        .banner-description{
            font-size: 10px;
            padding: 0;
            margin-bottom: 15px;
        }

        .btn-primary{
            font-size: 10px;
            height: 25px;
            width: 80px;
        }
        .banner-img{
            padding-bottom: 10px;
        }
        .banner-img img{
            width: 100%;
            padding: 20px 50px;
        }
        /* features  */
        .features{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
            gap: 5px;
            padding: 0px 10px;
         }
         .features-gallery{
            margin-top: 10px;
            margin: 10px 30px;
            gap: 10px;
         }
         .features-gallery img{
            width: 100%;
         }
         .features-title{
            font-size: 24px;
            margin-bottom: 10px;
         }
         .features-description{
            padding: 0 40px;
            font-size: 10px;
            margin-bottom: 10px;
         }
         /* experiences styles for mobile devices  */
         .experiences{
            grid-template-columns: repeat(1, 1fr);
            gap: 10px;
            padding: 0px 50px;
          }
        .experience-title{
            font-size: 30px;
            margin: 8px 0px;
        }
        .experience-title-box{
            padding-left: 8px;
        }
        .experience-bio{
            font-size: 10px;
            margin-bottom: 10px;
        }
        /* My Experiences */
        
        .my-experiences-box{
            padding: 5px 15px;
            margin: 0;
            padding: 10px 20px;
        }
        .my-experiences{
            margin-bottom: 10px;
            padding: 0;
            
        }
        .my-experiences-title{
            font-size: 10px;
            margin-bottom:  5px;
        }
        .my-experiences-bio{
            font-size: 7px;
            padding-right: 0;
        }
        .my-img img{
            width: 100%;

        }
        .year{ 
            font-size: 10px;
            border-radius: 5px;
            width: 100px;
            padding: 5px 5px;
        }
        
.year{ 
    background-color: var(--jackfruit);
    color: var(--white);
    position: relative;
    top: 514px;
    right: 14px;
    width: 100px;
    padding: 20px 10px;
    border-radius: 10px;
}
.my-img{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;

}

  /*-------------------------------
    Our achievement section styles 
 --------------------------------*/
 .some-facts{
    margin: 50px 38px;
    margin-bottom: -3px;
 }
 .some-facts-title{
    font-size: 22px;
    margin-bottom: 10px;
 }
 .some-facts-bio{
    font-size: 8px;
    margin-right: 20px;
    
 }

.achievement{
    margin: 100px 200px;
}
.achievement-header{
    margin-bottom: 10px;
}
.achievement-container{
    padding: 20px 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.our-achievement{
    border-radius: 5px;
    padding: 18px;

}
.our-achievement:hover{
    transform: translateY(-5px);
}

.achievement-number{
    font-size: 24px;
}
.achievement-info{
    font-size: 11px;
}
.our-achievement img {
    width: 30px;
}
/* our-sponsors section */
.sponsor-container{
    margin: 0;
}
.our-sponsors{
    margin: 0 50px;
    margin-top: 0;  
}
.sponsor-container-title{
    font-size: 30px;
    margin-bottom: 8px;
}
.sponsor-container-bio{
    font-size: 11px;
    padding: 0 67px;
}
.our-sponsors{
    margin-top: 20px;
    
}

.sponsors-img img {
    width: 75%;
}
/*------------------------
 footer section styles 
 -------------------- */
 .footer{
    margin: 40px;
 }
    .footer-info{
        font-size: 10px;

 }

}